*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
   /* Header */
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    height: inherit;
    justify-content: space-between;
}
/* Nav Right section */
nav .nav__right--section{
    width: 150px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
nav .nav__right--section a, nav .nav__left--section a{
    margin-right: 10px;
    color: black;
    font-size: 1.4rem;
}
nav .nav__right--section .main-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
nav .nav__right--section img{
    border-radius: 50%;
    margin-left: 10px;
}
/* Nav Left Section */
nav .nav__left--section{
    width: 150px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px ;
}
/*--------- Main ---------*/
.main__google-logo{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.google-logo{
    width: 232;
    height: 52px;
}
/* Serch */
.main__serch--container{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__input--container{
    width: 90%;
    max-width: 530px;
    height: 100%;
    border-radius: 25px;
    border: solid #dfe1e5 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serch{
    width: 80%;
    height: 90%;
    border: none;
    outline: none;
}