*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
   /* Header */
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    height: inherit;
    justify-content: space-between;
}
/* Nav Right section */
nav .nav__right--section{
    width: 150px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
nav .nav__right--section a, nav .nav__left--section a{
    margin-right: 10px;
    color: black;
    font-size: 1.4rem;
}
nav .nav__right--section .main-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.85;
}
nav .nav__right--section img{
    border-radius: 50%;
    margin-left: 10px;
}
/* Nav Left Section */
nav .nav__left--section{
    width: 150px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px ;
}
/*--------- Main ---------*/
.main__google-logo{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.google-logo{
    width: 232;
    height: 52px;
}
/* Serch */
.main__serch--container{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__input--container{
    width: 90%;
    max-width: 530px;
    height: 100%;
    border-radius: 25px;
    border: solid #dfe1e5 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.serch{
    width: 80%;
    height: 90%;
    border: none;
    outline: none;
}
.main__input--container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
}
main .main__input--container .serch-icon{
    width: 15px;
    height: 15px;
    color: #a0a6ac;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Section Most Visited */
main .main__mostVisited{
    width: 80%;
    max-width: 400px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
main .main__mostVisited .card .card__img--container{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #f1f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .main__mostVisited .card img{
    width: 75%;
    height: 75%;
    border-radius: 100px;
}
main .main__mostVisited .card{
    width: 20%;
    height: 20%;
    display: flex;
    text-align: center;
}
